/* apply a natural box layout model to all elements, but allowing components to change */

@import "normalize";

$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";

@import "font-awesome";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: red;
}


.clock {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.time,  {
  display: flex;
}

.color__bar {
  content: '';
  display: block;
  background: white;
  width: 4em;
  height: 10px;
}

.time, .color__bar {
  color: white;
  font-size: 5rem;
  font-family: 'Averia Sans Libre', cursive;
}
